ul {
    list-style-type: none;
}
img {
    height: 30px;
    width: 45px;
}
.flagImages{
    height: 30px;
    width: 45px;
}

.gray{
    color: gray;
}
.blue{
    color: blue;
}
.red{
    color: red;
}
.green{
    color: green;
}
.yellow{
    color: yellow;
}
.purple{
    color: purple;
}